<html>
    <head>
        <title>LinalgCalculator</title>
        <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
</body>
</html>
    </head>
    <body>
        <div id="content">
            {% include 'calculator.html' %}
            {% include 'footer.html' %}
        </div>
    </body>
</html>