<html>
<head>
    <meta charset="utf-8"/>
    <title>TSP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/vis.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/vis.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
<div id="container">
    <div id="content">
        <div class="header" id="calculator-name">Travelling salesman problem</div>
        <div class="rowbutton">
            <div class="control" id="size-square">
                <button class="white-button subcontrol" onclick="change_size(-1,-1)">-</button>
                <div id="size" class="subcontrol">3x3</div>
                <button class="white-button subcontrol" onclick="change_size(+1,+1)">+</button>
            </div>
            <button class="white-button control" onclick="sample1()">Sample #1</button>
            <button class="white-button control" onclick="sample2()">Sample #2</button>
            <button class="white-button control" onclick="sample3()">Sample #3</button>
            <button class="white-button control" onclick="random()">Random</button>
            <button class="red-button control" onclick="calculate('/calculate_inverse')">Calculate</button>
            <div id = "message">

            </div>
        </div>

        <div class="columns-container">
            <div class="left column" id="input">
                <table id="input-matrix" class="matrix">
                </table>
            </div>
            <div class="right column">
                <div class="hint top left" id="info"></div>
                <div id="drawgraph">

                </div>
            </div>
        </div>
        <div class="visualizer">
            <div id="mynetwork"></div>
        </div>
    </div>
</div>
</body>
</html>